<html>
  <head>
    <title> Random Image </title>
  </head>
  <body>
    <h1> Random Image </h1>
    Displaying Image <%= @random_image %>
    <img src="hello/<%= @random_image %>">
  </body>
</html>

